body {
    margin: 0;
    background - color: #202020;
    color: # fff;
    overflow: hidden
}

@font - face {
    font - family: gg sans;
    src: url("/fsm/assets/gg sans Regular-vM_qxOtR.ttf") format("truetype")
}

* {
    font - family: Arial,
        Helvetica,
        sans - serif;
    text - rendering: optimizeLegibility;
    outline: none;
    word - break: break -all
}

.aircraft.outbound[data - v - 4570 f81f] {
    background - color: #212f3f;
    border: 3px solid hsl(214, 54%, 48%)
}

.aircraft.outbound_td[data-v-4570f81f] {
    background-color: # 262 f3b;
    border: 3 px solid hsl(214, 44 %, 48 %)
}

.aircraft.inbound[data - v - 4570 f81f] {
    background - color: #223929;
    border: 3px solid hsl(124, 49%, 42%)
}

.aircraft.inbound_td[data-v-4570f81f] {
    background-color: # 27352 b;
    border: 3 px solid hsl(124, 39 %, 42 %)
}

.aircraft.vfr[data - v - 4570 f81f] {
    background - color: #3e2442;
    border: 3px solid hsl(301, 61%, 47%)
}

.aircraft.vfr_td[data-v-4570f81f] {
    background-color: # 3 a293d;
    border: 3 px solid hsl(301, 51 %, 47 %)
}

.aircraft[data - v - 4570 f81f] {
    border: 3 px solid hsl(0, 0 %, 53 %);
    background - color: #303030;
    width: 23vw;
    padding-left: .5vw;
    padding-right: .5vw;
    padding-top: .5vh;
    padding-bottom: .5vh;
    height: 20vh;
    display: inline-grid;
    row-gap: .5vh;
    column-gap: .5vw;
    margin-bottom: .5vh
}

.outbound>input[data-v-4570f81f],
.outbound>button[data-v-4570f81f] {
    background-color: # 2 c3b52
}

.outbound_td>input[data - v - 4570 f81f],
.outbound_td>button[data - v - 4570 f81f] {
    background - color: #333d4d
}

.inbound>input[data-v-4570f81f],
.inbound>button[data-v-4570f81f] {
    background-color: # 2 c4733
}

.inbound_td>input[data - v - 4570 f81f],
.inbound_td>button[data - v - 4570 f81f] {
    background - color: #334237
}

.vfr>input[data-v-4570f81f],
.vfr>button[data-v-4570f81f] {
    background-color: # 48294 c
}

.vfr_td>input[data - v - 4570 f81f],
.vfr_td>button[data - v - 4570 f81f] {
    background - color: #442f46
}

input[data-v-4570f81f],
button[data-v-4570f81f] {
    background-color: # 656565;
    border: none;
    outline: none;
    padding: .25 vh .25 vw .25 vh .25 vw;
    color: #fff;
    text - align: center;
    width: 4.85 vw;
    font - size: 1.2 vh;
    height: 3 vh
}

input[data - v - 4570 f81f]::placeholder {
    color: #999
}

.callsign[data-v-4570f81f] {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;
    width: 10.75vw
}

.name[data-v-4570f81f] {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
    width: 10.75vw;
    height: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.name p[data-v-4570f81f] {
    margin: 0;
    font-size: 1.5vh
}

.departing[data-v-4570f81f] {
    grid-column: 2;
    grid-row: 2
}

.type[data-v-4570f81f] {
    grid-column: 1;
    grid-row: 2
}

.altitude[data-v-4570f81f] {
    grid-column: 3;
    grid-row: 2
}

.gate[data-v-4570f81f] {
    grid-column: 4;
    grid-row: 2
}

.arriving[data-v-4570f81f] {
    grid-column: 2;
    grid-row: 3
}

.status[data-v-4570f81f] {
    grid-column: 1;
    grid-row: 3
}

.runway[data-v-4570f81f] {
    grid-column: 3;
    grid-row: 3
}

.squawk[data-v-4570f81f] {
    grid-column: 4;
    grid-row: 3
}

.route[data-v-4570f81f] {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 4;
    width: 22.5vw
}

.free[data-v-4570f81f] {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 5
}

.outbound>select[data-v-4570f81f] {
    background-color: # 2 c3a51
}

.outbound_td>select[data - v - 4570 f81f] {
    background - color: #333d4d
}

.inbound>select[data-v-4570f81f] {
    background-color: # 2 c4733
}

.inbound_td>select[data - v - 4570 f81f] {
    background - color: #334237
}

.vfr>select[data-v-4570f81f] {
    background-color: # 48294 c
}

.vfr_td>select[data - v - 4570 f81f] {
    background - color: #442f46
}

select[data-v-4570f81f] {
    color: # fff;
    border: none;
    width: 5.35 vw;
    padding: .25 vh .25 vw .25 vh .25 vw;
    font - size: 1.2 vh
}

.a_altitude[data - v - 4570 f81f] {
    grid - column: 2;
    grid - row: 5
}

.a_heading[data - v - 4570 f81f] {
    grid - column: 3;
    grid - row: 5
}

.delete[data - v - 4570 f81f] {
    grid - column: 4;
    grid - row: 5;
    padding: .25 vh .25 vw .25 vh .25 vw;
    height: 3.5 vh;
    width: 5.4 vw
}

button[data - v - 4570 f81f]: hover {
    cursor: pointer
}

p.age[data - v - 4570 f81f] {
    font - size: 1 vh;
    margin - left: .5 vw
}

.noparse[data - v - 4570 f81f] {
    position: fixed;
    font - size: 1 vh;
    color: #b4b4b4;
    transform: translateY(110 %) translate(5 %)
}

.avatar[data - v - 4570 f81f] {
    height: 3 vh;
    border - radius: 50 %;
    margin - right: .25 vw
}

ul[data - v - 5 b42320c] {
    margin: 0;
    padding: 0;
    background - color: #282828;
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: fixed;
    width: 23.75vw;
    list-style-type: none;
    max-height: 40vh;
    overflow-y: scroll
}

p[data-v-5b42320c] {
    margin: 0;
    padding: 0;
    padding-left: 2vw;
    padding-right: 2vw;
    cursor: pointer
}

p[data-v-5b42320c]:hover,
p.arrowed[data-v-5b42320c] {
    background-color: # 323232
}

[data - v - 5 b42320c]::-webkit - scrollbar,
scrollbar[data - v - 5 b42320c] {
    width: 0
}

[data - v - 5 b42320c]::-webkit - scrollbar - track,
scrollbar - track[data - v - 5 b42320c] {
    background: #282828;
    border-radius: 1em
}

[data-v-5b42320c]::-webkit-scrollbar-thumb,
scrollbar-thumb[data-v-5b42320c] {
    background-color: # fff;
    border - radius: 1 em;
    border: 3 px solid #282828;
    height: 3em
}

[data-v-5b42320c]::-webkit-scrollbar-thumb:hover,
scrollbar-thumb[data-v-5b42320c]:hover {
    background-color: # fff
}

input[data - v - 5 b42320c],
button[data - v - 5 b42320c] {
    width: 21.75 vw;
    height: 2.5 vh;
    background - color: #181818;
    border: none;
    color: # fff;
    padding: 1 vh 1 vw 1 vh 1 vw;
    margin - top: 1 vh
}

button[data - v - 5 b42320c] {
    display: flex;
    justify - content: center;
    align - items: center;
    height: 4.5 vh;
    cursor: pointer
}

textarea[data - v - 5 b42320c] {
    border: none;
    background - color: #181818;
    padding: 1vh 1vw 1vh 1vw;
    color: # fff;
    width: 40 vw;
    font - size: 2 vh
}

textarea[data - v - 5 b42320c]::placeholder {
    color: #fff
}

input[type=number][data - v - 5 b42320c] {
    -moz - appearance: none !important;
    - webkit - appearance: none;
    appearance: none
}

input[data - v - 5 b42320c]::-webkit - outer - spin - button,
input[data - v - 5 b42320c]::-webkit - inner - spin - button {
    -webkit - appearance: none;
    margin: 0
}

.atis[data - v - 051 d0255] {
    background - color: #181818;
    width: 46.5vw;
    height: 88.5vh;
    padding: 1vh 1vw 1vh 1vw;
    margin-top: 1vh
}

.third[data-v-051d0255] {
    width: 20vw
}

input[type=checkbox][data - v - 051 d0255],
input[type=radio][data - v - 051 d0255],
input[type=range][data - v - 051 d0255] {
    width: auto;
    margin: 0;
    accent - color: #0c5f71
}

input[type=range][data - v - 051 d0255] {
    padding: 0
}

input[data - v - 051 d0255],
button[data - v - 051 d0255] {
    font - size: 2 vh
}

p[data - v - 051 d0255],
span[data - v - 051 d0255] {
    margin: 0
}

.options[data - v - 051 d0255] {
    width: 48.5 vw;
    margin - left: 1 vw
}

.body[data - v - 051 d0255] {
    align - items: start
}

.hflex[data - v - 051 d0255] {
    width: 48.5 vw
}

.long[data - v - 051 d0255] {
    width: 46.5 vw;
    height: 2.5 vh;
    justify - content: center
}

select[data - v - 051 d0255] {
    width: 14.75 vw;
    padding: 1 vh 1 vw 1 vh 1 vw;
    height: 4.5 vh;
    margin - top: 1 vh;
    border: none;
    background - color: #181818;
    color: # fff
}

.medium[data - v - 051 d0255] {
    width: 12.75 vw
}

.half[data - v - 051 d0255] {
    width: 9.5 vw
}

.shortened[data - v - 051 d0255] {
    width: 6.25 vw
}

.smallgap[data - v - 051 d0255] {
    gap: .5 vw !important
}

.smallgap[data - v - 051 d0255] {
    gap: .75 vw !important
}

.boxed[data - v - 051 d0255] {
    background - color: #181818;
    height: 2.5vh;
    margin-top: 1vh;
    padding: 1vh 1vw 1vh 1vw
}

.hidden[data-v-051d0255] {
    opacity: 0
}

.fancy[data-v-051d0255] {
    width: 34.75vw
}

textarea[data-v-051d0255] {
    width: 46.5vw;
    min-width: 46.5vw;
    max-width: 46.5vw;
    height: 5.5vh;
    min-height: 5.5vh;
    max-height: 5.5vh;
    margin-top: 1vh
}

textarea.atis[data-v-051d0255] {
    width: 46.5vw;
    min-width: 46.5vw;
    max-width: 46.5vw;
    height: 87.5vh;
    min-height: 87.5vh;
    max-height: 87.5vh;
    font-size: 1.8vh;
    font-family: gg sans
}

.banner[data-v-051d0255] {
    width: 98vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 1vw;
    padding-right: 1vw;
    gap: 1vw
}

a[data-v-051d0255] {
    color: # 0 c5f71;
    text - decoration: none
}

.body[data - v - 051 d0255] {
    height: 95 vh;
    width: 100 vw;
    display: flex;
    flex - direction: row !important;
    gap: 1 vw
}

.hflex[data - v - 051 d0255] {
    display: flex;
    flex - direction: row !important;
    align - items: center;
    gap: 1 vw
}

.vflex[data - v - 051 d0255] {
    display: flex;
    flex - direction: column !important;
    align - items: center
}

.bodyh[data - v - 051 d0255] {
    height: 92.5 vh
}

input[data - v - 051 d0255],
button[data - v - 051 d0255] {
    width: 21.75 vw;
    height: 2.5 vh;
    background - color: #181818;
    border: none;
    color: # fff;
    padding: 1 vh 1 vw 1 vh 1 vw;
    margin - top: 1 vh
}

button[data - v - 051 d0255] {
    display: flex;
    justify - content: center;
    align - items: center;
    height: 4.5 vh;
    cursor: pointer
}

textarea[data - v - 051 d0255] {
    border: none;
    background - color: #181818;
    padding: 1vh 1vw 1vh 1vw;
    color: # fff;
    width: 40 vw;
    font - size: 2 vh
}

textarea[data - v - 051 d0255]::placeholder {
    color: #fff
}

input[type=number][data - v - 051 d0255] {
    -moz - appearance: none !important;
    - webkit - appearance: none;
    appearance: none
}

input[data - v - 051 d0255]::-webkit - outer - spin - button,
input[data - v - 051 d0255]::-webkit - inner - spin - button {
    -webkit - appearance: none;
    margin: 0
}

p[data - v - 051 d0255] {
    font - size: 1.5 vh
}

.td[data - v - 051 d0255] {
    width: 20 vw;
    display: flex;
    align - items: center
}

.td span[data - v - 051 d0255] {
    width: 3.2 vw;
    font - size: 1.5 vh;
    word - break: keep - all;
    text - align: center;
    display: flex;
    align - items: center
}

.td span input[type=checkbox][data - v - 051 d0255] {
    margin - right: .5 vw
}

.td div[data - v - 051 d0255] {
    width: unset
}

.pointer[data - v - 051 d0255] {
    cursor: pointer
}

ul[data - v - 89367 af4] {
    margin: 0;
    padding: 0;
    background - color: #282828;
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: fixed;
    width: 23.75vw;
    list-style-type: none;
    max-height: 40vh;
    overflow-y: scroll
}

p[data-v-89367af4] {
    margin: 0;
    padding: 0;
    padding-left: 2vw;
    padding-right: 2vw;
    cursor: pointer
}

p[data-v-89367af4]:hover,
p.arrowed[data-v-89367af4] {
    background-color: # 323232
}

[data - v - 89367 af4]::-webkit - scrollbar,
scrollbar[data - v - 89367 af4] {
    width: 0
}

[data - v - 89367 af4]::-webkit - scrollbar - track,
scrollbar - track[data - v - 89367 af4] {
    background: #282828;
    border-radius: 1em
}

[data-v-89367af4]::-webkit-scrollbar-thumb,
scrollbar-thumb[data-v-89367af4] {
    background-color: # fff;
    border - radius: 1 em;
    border: 3 px solid #282828;
    height: 3em
}

[data-v-89367af4]::-webkit-scrollbar-thumb:hover,
scrollbar-thumb[data-v-89367af4]:hover {
    background-color: # fff
}

input[data - v - 89367 af4],
button[data - v - 89367 af4] {
    width: 21.75 vw;
    height: 2.5 vh;
    background - color: #181818;
    border: none;
    color: # fff;
    padding: 1 vh 1 vw 1 vh 1 vw;
    margin - top: 1 vh
}

button[data - v - 89367 af4] {
    display: flex;
    justify - content: center;
    align - items: center;
    height: 4.5 vh;
    cursor: pointer
}

textarea[data - v - 89367 af4] {
    border: none;
    background - color: #181818;
    padding: 1vh 1vw 1vh 1vw;
    color: # fff;
    width: 40 vw;
    font - size: 2 vh
}

textarea[data - v - 89367 af4]::placeholder {
    color: #fff
}

input[type=number][data - v - 89367 af4] {
    -moz - appearance: none !important;
    - webkit - appearance: none;
    appearance: none
}

input[data - v - 89367 af4]::-webkit - outer - spin - button,
input[data - v - 89367 af4]::-webkit - inner - spin - button {
    -webkit - appearance: none;
    margin: 0
}

.id[data - v - f6408332] {
    font - size: 2 vh;
    margin: 0;
    justify - self: center
}

.top[data - v - f6408332] {
    height: 6 vh;
    width: 100 vw;
    min - width: 100 vw;
    max - width: 100 vw;
    display: flex;
    align - items: center;
    justify - content: center;
    flex - direction: row
}

.acftList[data - v - f6408332] {
    width: 25 vw;
    display: flex;
    flex - direction: column;
    align - items: center;
    padding - top: 1 vh;
    height: 93 vh
}

.list[data - v - f6408332] {
    overflow - y: scroll
}

[data - v - f6408332]::-webkit - scrollbar {
    width: 0 px
}

.all[data - v - f6408332] {
    width: 100 vw;
    height: 100 vh;
    display: flex
}

h1[data - v - f6408332] {
    font - size: 3 vh;
    margin - top: 0
}

.logo[data - v - f6408332] {
    font - size: 3 vh;
    color: #fff;
    text - decoration: none
}

.logowrap[data - v - f6408332] {
    display: flex;
    margin - left: 1 vw;
    position: absolute;
    top: 1.5 vh
}

.version[data - v - f6408332] {
    margin: 0;
    font - size: 1.5 vh
}

.dc[data - v - f6408332] {
    color: #5ac75a;
    text-decoration: none;
    margin-left: .5vw;
    top: 5vh;
    position: absolute;
    margin-left: 1vw
}

.hamburger[data-v-f6408332] {
    height: 3.5vh;
    right: .5vw;
    position: absolute;
    top: 1.5vh
}

.hamburger[data-v-f6408332]:hover {
    cursor: pointer
}

.sidebar[data-v-f6408332] {
    width: 20vw;
    height: 100vh;
    position: absolute;
    background-color: # 181818;
    right: 0;
    top: 0;
    padding: 8 vh 0 2 vh;
    box - shadow: -4 px 0 20 px #000000bf
}

.sidebar p[data-v-f6408332] {
    font-size: 3vh;
    margin: 0;
    padding: .5vh .5vw .5vh .5vw;
    -webkit-user-select: none;
    user-select: none
}

.active[data-v-f6408332] {
    background-color: # 1 d1d1d
}

.sidebar p[data - v - f6408332]: hover {
    cursor: pointer
}

.vflex[data - v - f6408332] {
    display: flex;
    align - items: center;
    flex - direction: column
}

.hflex[data - v - f6408332] {
    display: flex;
    justify - content: center;
    flex - direction: row
}

.body[data - v - f6408332] {
    width: 100 vw;
    height: 93 vh;
    overflow: scroll
}

.full[data - v - f6408332] {
    width: 100 vw
}

.nomarg[data - v - f6408332] {
    margin: 0
}

.body p[data - v - f6408332] {
    font - size: 2 vh;
    min - height: 2 vh
}

.body h1[data - v - f6408332] {
    margin - top: 2 vh
}

.hidden[data - v - f6408332] {
    animation: hide - f6408332 .2 s linear 0 s 1 forwards
}

.noanim[data - v - f6408332] {
    opacity: 0;
    visibility: hidden
}

.shown[data - v - f6408332] {
    animation: show - f6408332 .2 s linear 0 s 1 forwards
}

@keyframes hide - f6408332 {
    0 % {
        opacity: 1
    }

    to {
        opacity: 0;
        visibility: hidden
    }
}

@keyframes show - f6408332 {
    0 % {
        opacity: 0;
        visibility: visible
    }

    to {
        opacity: 1
    }
}

.setting[data - v - f6408332] {
    width: 21.75 vw;
    height: 2.5 vh;
    background - color: #181818;
    border: none;
    color: # fff;
    padding: 1 vh 1 vw 1 vh 1 vw;
    margin - top: 1 vh;
    border - radius: 5 px
}

button.setting[data - v - f6408332] {
    height: 4 vh;
    width: 24 vw
}

button[data - v - f6408332]: hover {
    cursor: pointer
}

.sett h1[data - v - f6408332] {
    margin - top: 7 vh
}

input[type=text][data - v - f6408332] {
    width: 21.75 vw;
    height: 2.5 vh;
    background - color: #181818;
    border: none;
    color: # fff;
    padding: 1 vh 1 vw 1 vh 1 vw;
    margin - top: 1 vh
}

.nosel[data - v - f6408332] {
    -webkit - user - select: none;
    user - select: none
}

textarea[data - v - f6408332] {
    border: none;
    background - color: #181818;
    padding: 1vh 1vw 1vh 1vw;
    color: # fff;
    width: 21.75 vw;
    font - size: 2 vh;
    margin - top: 1 vh;
    height: 50 vh
}

textarea[data - v - f6408332]::placeholder {
    color: #fff
}

.split[data - v - f6408332] {
    width: 23.5 vw;
    gap: 1 vw;
    display: flex;
    margin - top: 1 vh
}

.split input[data - v - f6408332] {
    width: 9.25 vw;
    margin: 0
}

.split button[data - v - f6408332] {
    border: none;
    background - color: #181818;
    color: # fff;
    width: 11.5 vw;
    padding: 1 vh 1 vw 1 vh 1 vw
}

.point[data - v - f6408332] {
    cursor: pointer
}

td[data - v - f6408332] {
    width: 10 vw
}

.twrap[data - v - f6408332] {
    overflow: scroll;
    height: 80 vh;
    margin - top: 1 vh
}

.rooms[data - v - 9 edb308c] {
    width: 100 vw;
    height: 100 vh;
    display: flex;
    flex - direction: row;
    align - items: center;
    justify - content: center
}

.login[data - v - 9 edb308c],
.create[data - v - 9 edb308c] {
    display: flex;
    flex - direction: column;
    align - items: center;
    justify - content: center;
    width: 50 vw
}

input[data - v - 9 edb308c],
button[data - v - 9 edb308c] {
    width: 21.75 vw;
    height: 2.5 vh;
    background - color: #181818;
    border: none;
    color: # fff;
    padding: 1 vh 1 vw 1 vh 1 vw;
    margin - top: 1 vh
}

button[data - v - 9 edb308c] {
    display: flex;
    justify - content: center;
    align - items: center;
    height: 4.5 vh;
    cursor: pointer;
    width: 23.75 vw
}

textarea[data - v - 9 edb308c] {
    border: none;
    background - color: #181818;
    padding: 1vh 1vw 1vh 1vw;
    color: # fff;
    width: 40 vw;
    font - size: 2 vh
}

textarea[data - v - 9 edb308c]::placeholder {
    color: #fff
}

input[type=number][data - v - 9 edb308c] {
    -moz - appearance: none !important;
    - webkit - appearance: none;
    appearance: none
}

input[data - v - 9 edb308c]::-webkit - outer - spin - button,
input[data - v - 9 edb308c]::-webkit - inner - spin - button {
    -webkit - appearance: none;
    margin: 0
}

.offline[data - v - 9 edb308c] {
    width: 100 vw;
    height: 100 vh;
    display: flex;
    align - items: center;
    justify - content: center
}

.offline a[data - v - 9 edb308c] {
    text - decoration: none;
    color: #fff;
    background - color: #181818;
    padding: 2vh 2vw 2vh 2vw;
    border-radius: 12px
}

.vflex[data-v-9edb308c] {
    display: flex;
    flex-direction: column !important;
    align-items: center
}

.offline.vflex h1[data-v-9edb308c] {
    font-size: 10vh;
    margin: 0
}

.acc[data-v-9edb308c] {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 2vh;
    right: 1vw
}

.acc img[data-v-9edb308c] {
    height: 6vh;
    border-radius: 50%
}

.acc p[data-v-9edb308c] {
    font-size: 3vh;
    margin: 0;
    margin-left: .5vw;
    transform: translateY(-1vh)
}

.acc p.logout[data-v-9edb308c] {
    font-size: 2vh;
    position: absolute;
    top: 5vh;
    right: 0vw;
    margin: 0
}

.acc p.logout[data-v-9edb308c]:hover {
    cursor: pointer
}
